body {
    background-color: #fafafa;
    width: 100vw;
    /* 100% de largura da tela*/
    height: 100vh;
    /* 100% de altura da tela*/
    display: flex;
    justify-content: center;
    /*posicionar o conteúdo na horizontal. Só pode habilitar depois que colocar o DISPLAY "FLEX" (acima)*/
    align-items: center;
    /*alinhar os itens, neste caso ao centro e na vertical*/
    font-family: sans-serif;

}

.celular {
    width: 450px;

}

.container {
    border: 1px solid #d3d3d3;
    display: flex;
    /*habilita outras funções para direcionar os itens*/
    flex-direction: column;
    /*para colocar os itens em em coluna ou lado a lado*/
    width: 300px;
    padding: 40px;
    /* para dar espaçãmento dentro da caixa*/
}

input {
    height: 36px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    /* é o arrendodamento da borda*/
    margin-top: 10px;

}

button {
    background-color: #0095f6;
    height: 30px;
    border-radius: 10px;
    color: #ffff;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border: none;

}

p {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    color: gray;
    font-size: 12px;
    margin-top: 30px;
}



.entrar {
    color: #385185;
    text-align: center;
    /*para alinhar o texto no centro*/
    margin-top: 20px;
    cursor: pointer;
    font-size: 14px;
    /*tamanho do texto*/
    font-weight: bold;
    /*grossura / peso do texto*/

}




.esqueceu-senha {
    color: #0095f6;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.imagens {
    position: relative;
    /*faz com as imagens fiquem dentro da caixa (imagens), pois ela se torna relativa, faz com que ela seja a caixa absoluta e não a tela como um todo*/

}




.img-insta {
    height: 520px;
    position: absolute;
    /*coloca o item exatamente no local que vc quer*/
    left: 153px;
    top: 26px;
    transition: 2s ease-in-out;
    /*para fazer uma transição da imagem*/

}